<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <legend>Destination Details</legend>
      <form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate autocomplete="off">
        <div class="row">
          <div class="form-group col-sm-5" [ngClass]="{'has-error': hostname.invalid && hostname.dirty}">
            <label for="hostname" class=""><sup>*</sup>Hostname</label>
            <input type="text" class="form-control" id="hostname" ngModel name="hostname" required #hostname="ngModel">
            <div class="text-danger" *ngIf="hostname.touched && hostname.errors">
              <span class="col-sm-12" style="padding:4px 0 0" *ngIf="hostname.errors.required">
                    Please enter hostname
                </span>
            </div>
          </div>

          <div class="form-group col-sm-5" [ngClass]="{'has-error': ipsubnet.invalid && ipsubnet.dirty}">
            <label for="ipsubnet" class=""><sup>*</sup>IP/Subnet</label>
            <input type="text" class="form-control" id="ipsubnet" ngModel name="ipsubnet" required #ipsubnet="ngModel">
            <div class="text-danger" *ngIf="ipsubnet.dirty && ipsubnet.errors">
              <span class="col-sm-12" style="padding:4px 0 0" *ngIf="ipsubnet.errors.required">
                    Please enter IP / subnet
                </span>
            </div>
          </div>

          <div class="form-group col-sm-2">
            <label for="location"><sup>*</sup>Location</label>
            <select class="form-control" id="location" ngModel name="location" required #location="ngModel" [ngModel]="defaultLocation"
              required>
              <option value="AB">AB</option>
              <option value="BC">BC</option>
              <option value="ON">ON</option>
            </select>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-12">

            <button type="submit" class="btn btn-success btn-sm " [disabled]="!form.valid">
            <i *ngIf="!editMode; else editIcon" class="fa fa-plus"></i>

            <ng-template #editIcon>
                  <i class="fa fa-pencil-square-o"></i>
        
            </ng-template>
                </button>

            <button class="btn btn-danger btn-sm" type="button" (click)="onDelete()" *ngIf="editMode"> <i class="fa fa-minus"></i></button>

            <button class="btn btn-info btn-sm" type="button" (click)="onClear()"><i class="fa fa-eraser"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <app-source-list *ngIf="next"></app-source-list>
  <br>
  <div class="row">
    <div class="col-sm-12">
       <button class="btn btn-primary pull-left btn-sm" (click)="onBack()">
           <i class="fa fa-chevron-circle-left fa-2x"></i>
       </button>
      <button class="btn btn-primary pull-right btn-sm" (click)="onNext()" [disabled]="!next">
        <!--Next-->
             <i class="fa fa-chevron-circle-right fa-2x"></i>
        </button>

    </div>
  </div>

</div>