<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <legend>Port Details</legend>
      <form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate autocomplete="off">
        <div class="row">
          <div class="form-group col-sm-2" [ngClass]="{'has-error': port.invalid && port.dirty}">
            <label for="port" class=""><sup>*</sup>Port</label>
            <input type="text" class="form-control" id="port" ngModel name="port" required #port="ngModel">
            <div class="text-danger" *ngIf="port.touched && port.errors">
              <span class="col-sm-12" style="padding:4px 0 0" *ngIf="port.errors.required">
                    Please enter port
                </span>
            </div>
          </div>

       

          <div class="form-group col-sm-1">
            <label for="location"><sup>*</sup>Protocol</label>
            <select class="form-control" id="protocol" ngModel name="protocol" required #protocol="ngModel" [ngModel]="defaultProtocol"
              required>
              <option value="TCP">TCP</option>
              <option value="UDP">UDP</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success btn-sm btn-op-sm" [disabled]="!form.valid">
            <i *ngIf="!editMode; else editIcon" class="fa fa-plus"></i>

            <ng-template #editIcon>
                  <i class="fa fa-pencil"></i>
            </ng-template>
                </button>

            <button class="btn btn-danger btn-sm btn-op-sm" type="button" (click)="onDelete()" *ngIf="editMode"> <i class="fa  fa-trash
"></i></button>

            <button class="btn btn-info btn-sm btn-op-sm" type="button" (click)="onClear()"><i class="fa fa-eraser"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>

  <!--show table-->
  <app-port-list *ngIf="next"></app-port-list>

  <br>
  <div class="row">
    <div class="col-sm-12">
       <button class="btn btn-success pull-left btn-sm btn-arrow" (click)="onBack()">
           <i class="fa fa-arrow-left fa-2x"></i>
       </button>
      <button class="btn btn-success pull-right btn-sm btn-arrow" (click)="onNext()" [disabled]="!next">
        <!--Next-->
             <i class="fa fa-arrow-right fa-2x"></i>
        </button>

    </div>
  </div>

</div>